@page "/error"
@inject IJSRuntime JSRuntime;

@using MyG5Blazor.Data
@using System.Net.Http;
@using System.Text;
@using System;

@inject Costumer cst
@inject NavigationManager NavMan
@inject Transaction trans
@inject Config config

<div class="main-panel bg-edc-process ">
    <div class="container-fluid">
        <div class="card" style="text-align: center; margin-top: 18%;">
            <div class="card-body">
                <h2><strong>Mohon maaf, terjadi gangguan pada layanan Telkomsel </strong></h2>
                <h3>
                    Silahkan hubungi customer service untuk melanjutkan layanan ini.
                </h3>
                <p></p>
                @if (trans.errorCode != string.Empty)
                {
                    <h3><p><b>[[ @trans.errorCode ]]</b></p></h3>
                }
                <div class="d-flex justify-content-center">
                    <div class="p-2" style="text-align: center">
                        <button class="btn btn-block btn-lg btn-danger" @onclick="@(()=>NavigateTo("/main"))"> OK </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        OurUtility.Write_Log("== Error Page", "step-action");
    }
    private void NavigateTo(string strURL)
    {
        NavMan.NavigateTo("/main");
    }
}
