@page "/"
@inject IJSRuntime JSRuntime;

@using MyG5Blazor.Data
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using System.Net.Http;
@using System.Text;
@using System;
@using System.Threading.Tasks;

@inject Costumer cst
@inject NavigationManager NavMan
@inject Transaction trans
@inject Config config
@inject Menu menu

<div class="bg-login">
    <div class="wrapper">
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="logo">
                            <img src="../assets/image/Logo/Logo_MyGraPARI.png" />
                        </div>
                        <!-- <a class="navbar-brand" href="javascript:;">Dashboard</a> -->
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->

            <div class="content">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 5%;">
                        <div class="col-md-12" style="text-align: left;">
                            
                        </div>
                        <div class="col-md-12" style="text-align: left;">
                            
                        </div>
                        <div class="col-md-12" style="text-align: left;">
                            
                        </div>
                        <div class="col-md-12">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@code{
    private string terminalId = string.Empty;
    private string userName = string.Empty;
    private string password = string.Empty;

    private bool isAuthorized = false;
    private bool isLoading = false;

    private string _myURL = string.Empty;
    private string apiURL = "terminal/login";
    protected override async Task OnInitializedAsync()
    {
        OurUtility.Write_Log("Login Page", "step-action");
        menu.terminalId = config.Read("Terminal", Config.PARAM_MACHINE);
        _myURL = config.Read("URL", Config.PARAM_DEFAULT_URL);
        menu.tokenId = config.Read("Terminal", Config.PARAM_TOKEN);
        NavigateTo("/main");

    }
    private void NavigateTo(string strURL)
    {
        NavMan.NavigateTo(strURL);
    }

}