@page "/PSB/7b"

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using System.Net.Http;
@using System.Text;
@using System;
@using System.Threading.Tasks;
@using MyG5Blazor.Data
@using System.Drawing.Printing
@using System.Drawing
@using System.IO

@inject IJSRuntime JSRuntime
@inject Costumer cst
@inject NavigationManager NavMan
@inject Transaction trans
@inject Config config
@inject Menu menu
    <div class="bg-edc-process">
        <div class="main-panel bg-edc-process">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="logo">
                            <img src="../../assets/image/Logo/Logo_MyGraPARI.png" />
                        </div>
                        <!-- <a class="navbar-brand" href="javascript:;">Dashboard</a> -->
                    </div>


                    <form class="navbar-form">
                    </form>
                </div>
            </nav>
            <!-- End Navbar -->

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="teks-title">Berlangganan Kartu Halo</div>
                            <div class="teks-title4 text-center">Syarat dan Ketentuan</div>
                            <div class="col-md-12 mb-4" style="padding-right: 65px; padding-left: 65px;margin-bottom:5px;">
                                <div class="card example-1 scrollbar-ripe-malinka" style="text-align: center; margin-bottom:10px;">
                                    <div class="card-body" style="max-height:300px;overflow-y:scroll;">
                                        <h4 id="section1"><strong>Berisi tulisan tentang syarat dan ketentuan</strong></h4>
                                        <p>
                                            Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                                            qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                                            mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                                            qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                                            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
                                        </p>
                                        <p>
                                            Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                                            qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                                            mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                                            qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                                            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
                                        </p>
                                        <p>
                                            Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                                            qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                                            mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                                            qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                                            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
                                        </p>
                                        <p>
                                            Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                                            qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                                            mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                                            qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                                            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: 6.5%;">
                                <input type="checkbox" class="form-check-input" id="terms_and_conditions" value="1" onclick="terms_changed(this)" style="width: 20px; height: 20px;" @bind="trans.psbDetail.isTC">
                                <label class="form-check-label" for="exampleCheck1" style="margin-left: 2%; color: black; font-size: 12pt;">
                                    Dengan ini saya telah membaca, memahami, dan menyetujui hal-hal yang tercantum pada syarat dan ketentuan yang berlaku terkait<br>
                                    proses berlanggan kartuHalo melalui mesin MyGraPARI
                                </label>
                                <br /><input type="checkbox" class="form-check-input" id="terms_and_conditions" value="1" onclick="terms_changed(this)" style="width: 20px; height: 20px;" @bind="trans.psbDetail.isEbill">
                                <label class="form-check-label" for="exampleCheck1" style="margin-left: 2%; color: black; font-size: 12pt;">
                                    Dengan ini saya bersedia menerima asi SMS broadcast, e-mail, atau sejenisnya dari Telkomsel yang berisi<br /> informasi layanan dan/atau produk Telkomsel dan mitranya
                                </label>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="centered">Silakan Tekan Menu yang Anda Inginkan</div> -->
        </div>
    </div>
    <footer style="display: flex;">
        <div id="footer-side1" class="col-md-4" style="background-color:transparent;">
            <div style="margin-left: -1rem; margin-right: -2rem;">
                <span style="margin:5px;" class="dot2">1</span>
                <span style="margin:5px;" class="dot2">2</span>
                <span style="margin:5px;" class="dot2">3</span>
                <span style="margin:5px;" class="dot2">4</span>
                <span style="margin:5px;" class="dot2">5</span>
                <span style="margin:5px;" class="dot2">6</span>
                <span style="margin:5px;" class="dot2" id="dot-active">7</span>
                <span style="margin:5px;" class="dot2">8</span>
                <span style="margin:5px;" class="dot2">9</span>
            </div>
        </div>
        <div class="col-md-4">
            <button @onclick="Lanjut" class="btn btn-danger button-nps" style="bottom: 10%;" id="myBtn1" disabled="@(!trans.psbDetail.isTC)">Lanjut</button>
        </div>
        <div id="footer-side2" class="col-md-4">
            <div style="margin-left: -8rem; margin-right: -8rem;">
                <button @onclick="@(()=>NavMan.NavigateTo("/PSB/7a"))" class="btn-arrow btn" value="">Kembali</button>
                <button @onclick="@(()=>NavMan.NavigateTo("/main"))" class="btn-arrow btn" value="">Menu Utama</button>
                <!-- <sup>Powered By </sup>Trilogi Persada -->
            </div>
        </div>
</footer>
    @if (isTimeOut)
    {
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p class="text-body"><span style="font-weight: bold;">Sesi Anda akan segera berakhir.</span><br />Anda akan keluar dari sistem dalam <span style="font-weight: bold;"></span> detik.</p>
                        <button class="btn btn-danger modal-button">Lanjutkan Sesi</button>
                        <button class="btn btn-white modal-button">Selesai</button>
                        <!-- <button class="btn btn-light modal-button">Tidak</button> -->
                    </div>
                </div>
            </div>

        </div>
    }
    @if (isLoading)
    {
        <div id="myModal" class="modal">
            <div class="modal-blank">
                <img class="lds-spinner" src="../../assets/image/loader.gif">
                <p><br>Mohon tunggu</p>
                <p>proses sedang berlangsung...</p>
            </div>
        </div>
    }
    @code{
        private bool isLoading = false;
        private bool isTimeOut = false;
        private bool isTC = false;
        private bool isEbill = false;

        protected override async Task OnAfterRenderAsync(bool bFirstRender)
        {
            if (bFirstRender)
            {
            
            }
        }

        private void Lanjut()
        {
            NavMan.NavigateTo("/PSB/8a");
        }

    }
