@page "/PB/2"

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using System.Net.Http;
@using System.Text;
@using System;
@using System.Threading.Tasks;
@using MyG5Blazor.Data

@inject Costumer cst
@inject IJSRuntime JSRuntime
@inject NavigationManager NavMan
@inject Transaction trans
@inject Menu menu
@inject Config config 
<div class="main-panel bg-home">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="logo">
                    <img src="../../assets/image/Logo/Logo_MyGraPARI.png" />
                </div>
                <!-- <a class="navbar-brand" href="javascript:;">Dashboard</a> -->
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="teks-title">Bayar Tagihan KartuHalo</div>
                    <div id="">
                        <div class="teks-center"> Pilih Metode Pembayaran </div>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    @if (config.edc == "1")
                    {
                        <img @onclick="@(() => SetPaymentMethod(1))" id="" class="pembayaran" src="../../assets/image/Bayar_Debit.png">
                    }
                    @if (config.cash == "1")
                    {
                        <img @onclick="@(() => SetPaymentMethod(2))" id="" class="pembayaran" src="../../assets/image/Bayar_Tunai.png">
                    }
                    @if (config.edc == "1")
                    {
                        <img @onclick="@(() => SetPaymentMethod(3))" id="" class="pembayaran" src="../../assets/image/Bayar_Kredit.png">
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="centered">Silakan Tekan Menu yang Anda Inginkan</div> -->
    <footer>
        <div class="footer-side1">
            <span class="dot">1</span>
            <span class="dot" id="dot-active">2</span>
            <span class="dot">3</span>
            <span class="dot">4</span>
        </div>
        <div class="footer-side2">
            <button @onclick="@(() => NavigateTo("/PB/2a"))" class="btn-arrow btn" value="">Kembali</button>
            <button @onclick="MainMenu" class="btn-arrow btn" value="">Menu<br>Utama</button>
            <!-- <sup>Powered By </sup>Trilogi Persada -->
        </div>
    </footer>
</div>
@if (isLoading)
{
    <div id="myModal" class="modal">
        <div class="modal-blank">
            <img class="lds-spinner" src="../../assets/image/loader.gif">
            <p><br>Mohon tunggu</p>
            <p>proses sedang berlangsung...</p>
        </div>
    </div>
}
@code
{
    private bool IsInvalid = false;
    private bool isLoading = false;
    //public string _myURL = "https://mygrapari.telkomsel.co.id/trilogi/";
    public string _myURL = string.Empty;

    public string serviceURL = "bayar-halo/v1/get-bill";
    private string _termID = string.Empty;
    private string msg = string.Empty;
    private string errorcode = string.Empty;
    private string strMsgError = string.Empty;
    private int intTotalTagihan = 0;
    protected override async Task OnInitializedAsync()
    {
        _myURL = config.Read("URL", Config.PARAM_DEFAULT_URL);
    }
    private void SetPaymentMethod(int _intMPembayaran)
    {
        cst.intMPembayaran = _intMPembayaran;
        trans.intPayment = _intMPembayaran;
        trans.AddTrail("PAYMENT METHOD", cst.strMPembayaran, "00");
        GetPayment("/PB/3");
    }
    private async Task MainMenu()
    {
        trans.AddTrail("PAYMENT METHOD", "BACK TO MAIN MENU", "02");
        trans.status = "02";
        await OurUtility.AuditTrail(trans, menu, cst);
        NavMan.NavigateTo("/main");
    }
    private void NavigateTo(string strURL)
    {
        NavMan.NavigateTo(strURL);
    }

    public async Task GetPayment(string strURL)
    {
        isLoading = true;
        await Task.Delay(10000);
        string myJson = "{ \"transactionId\" : \"" + trans.transID + "\"," +
            "\"terminalId\" : \"" + trans.termID + "\"," +
            "\"noHp\" : \"" + cst.PhoneNumber + "\"," +
                                "\"paymentMethod\" : \"" + trans.paymentMethod + "\"" +
                                "}";
        string myURL = _myURL + serviceURL;

        OurUtility.Write_Log("== Get Bill", "step-action");
        //OurUtility.Write_Log("== Request API : " + myJson, "step-action");
        string strResult = await OurUtility.PostCallAPI(myURL, myJson,menu);
        ////OurUtility.Write_Log("== Response API : " + strResult, "step-action");
        if (strResult != null)
        {
            try
            {
                JObject jobjResult = JObject.Parse(strResult);
                if ((string)jobjResult["transaction"]["statusCode"] == "00")
                {
                    OurUtility.Write_Log("== Status Code : " + (string)jobjResult["transaction"]["statusCode"] + " {Success}", "step-action");
                    foreach (var bill in jobjResult.SelectToken("billPayment").SelectToken("bill"))
                    {
                        Int32.TryParse(bill.SelectToken("amount").ToString(), out int amount);
                        cst.AddlistTagihan(bill.SelectToken("referenceNo").ToString(), amount, bill.SelectToken("custName").ToString());
                    }
                    if ((string)jobjResult["billPayment"]["bit61"] != null)
                        trans.bit = (string)jobjResult["billPayment"]["bit61"];
                    else if ((string)jobjResult["billPayment"]["bit48"] != null)
                        trans.bit = (string)jobjResult["billPayment"]["bit48"];
                    trans.fee = (string)jobjResult["billPayment"]["fee"];

                    TotalTagihan();
                    trans.AddTrail("GET BILL", cst.intTagihan.ToString(), "00");

                    //trans.transID = (string)jobjResult["transaction"]["transactionId"];

                    NavMan.NavigateTo(strURL);
                }
                else if ((string)jobjResult["transaction"]["statusCode"] == "01")
                {
                    if ((string)jobjResult["transaction"]["errorCode"] != null)
                    {
                        OurUtility.Write_Log("== Status Code : " + (string)jobjResult["transaction"]["statusCode"] + " {Error}", "step-action");
                        trans.errorCode = (string)jobjResult["transaction"]["statusCode"];
                    }
                    else
                    {
                        string _statusDescSub = ((string)jobjResult["transaction"]["statusCode"]);
                        string statusDescSub = _statusDescSub.Substring(0, _statusDescSub.IndexOf(":"));
                        OurUtility.Write_Log("== Status Code : " + statusDescSub + " {Error}", "step-action");
                        trans.errorCode = (string)jobjResult["transaction"]["statusCode"];
                    }
                    trans.AddTrail("GET BILL", cst.strMPembayaran, "01");
                    trans.status = "01";
                    await OurUtility.AuditTrail(trans, menu, cst);

                    NavMan.NavigateTo("/error");
                }
                else if ((string)jobjResult["transaction"]["statusCode"] == "02")
                {
                    strMsgError = (string)jobjResult["transaction"]["statusDesc"];
                    isLoading = false;
                    //IsVisible = false;
                    IsInvalid = true;

                    trans.AddTrail("GET BILL", cst.strMPembayaran, "02");
                    trans.status = "02";
                    await OurUtility.AuditTrail(trans, menu, cst);

                }
            }
            catch (Exception ex)
            {
                trans.errorCode = strResult;
                OurUtility.Write_Log("== Error :" + ex.Message, "step-action");
                trans.AddTrail("GET BILL", cst.strMPembayaran, "01");
                trans.status = "01";
                await OurUtility.AuditTrail(trans, menu, cst);

                NavMan.NavigateTo("/error");
            }
        }
        else
        {
            trans.errorCode = strResult;
            OurUtility.Write_Log("== Error : Hit WebService {Error}", "step-action");
            NavMan.NavigateTo("/error");
        }
    }
    private void TotalTagihan()
    {
        foreach (dynamic t in cst.GetlistTagihan)
        {
            intTotalTagihan += t._intTagihan;
        }
        cst.intTagihan = intTotalTagihan;
    }
}
